.vision-statement h4 {
    font-family: BradfordLLWeb-Light, Garamond, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    text-align: left;
}

.vision-statement h4 i {
    font-weight: 600;
}


